.check-out {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 60px;
}
.cart {
    width: 500px;
    /* margin: 20px auto; */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.cart h2 {
    margin-top: 0;
}

.cart-items {
    width: 100%;
}

.cart-items th,
.cart-items td {
    padding: 8px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

.total {
    margin-top: 10px;
}
.place-ship {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin-bottom: 15px;
}
.cart button {
    display: block;
    margin-top: 10px;
}

.container-checkout {
    max-width: 350px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.container-checkout h2 {
    text-align: center;
    margin: 0;
}

.container-checkout form {
    margin-top: 20px;
}

.container-checkout label {
    display: block;
    margin-bottom: 5px;
}

.container-checkout input[type="text"],
.container-checkout input[type="email"],
.container-checkout input[type="number"],
.container-checkout select {
    width: 92%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.container-checkout input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.container-checkout input[type="submit"]:hover {
    background-color: #45a049;
}

@media (max-width: 768px) {
    .container-checkout {
        max-width: 100%;
        margin: 20px;
        padding: 10px;
    }
}
.container-success {
    width: 80%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.container-success h1 {
    color: #333;
}

.container-success p {
    color: #666;
}

.container-success a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.container-success a:hover {
    background-color: #0056b3;
}

