.check-out {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 60px;
}
.cart {
    width: 500px;
    /* margin: 20px auto; */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.cart h2 {
    margin-top: 0;
}

.cart-items {
    width: 100%;
}

.cart-items th,
.cart-items td {
    padding: 8px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

.total {
    margin-top: 10px;
}
.place-ship {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin-bottom: 15px;
    flex-direction: column;
}
.cart button {
    display: block;
    margin-top: 10px;
}

.container-checkout {
    max-width: 350px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.container-checkout h2 {
    text-align: center;
    margin: 0;
}

.container-checkout form {
    margin-top: 20px;
}

.container-checkout label {
    display: block;
    margin-bottom: 5px;
}

.container-checkout input[type="text"],
.container-checkout input[type="email"],
.container-checkout input[type="number"],
.container-checkout select {
    width: 92%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.container-checkout input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.container-checkout input[type="submit"]:hover {
    background-color: #45a049;
}

@media (max-width: 768px) {
    .container-checkout {
        max-width: 100%;
        margin: 20px;
        padding: 10px;
    }
}
.container-success {
    width: 80%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.container-success h1 {
    color: #333;
}

.container-success p {
    color: #666;
}

.container-success a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.container-success a:hover {
    background-color: #0056b3;
}
.place-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.add-show {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: start;
}
.place-ship i {
    margin-left: 300px;
}
.place-ship a {
    color: black;
}
.edit-info-container .user-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.edit-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.edit-info-container .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.edit-info-container .name {
    margin: 0;
    font-size: 24px;
}

.edit-info-container .phone,
.edit-info-container .email {
    margin: 5px 0;
    font-size: 18px;
}

.edit-info-container .update-form {
    margin-top: 20px;
}

.edit-info-container label {
    font-weight: bold;
}

.edit-info-container input[type="text"],
.edit-info-container input[type="tel"],
.edit-info-container input[type="email"] {
    width: 250px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.edit-info-container input[type="submit"] {
    background-color: grey;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.edit-info-container input[type="submit"]:hover {
    background-color: gray;
}
.edit-info-container .control {
    margin-bottom: 20px;
}
.show-order-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.show-order-container .order {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
}

.show-order-container .order-details {
    padding-left: 20px;
}

.show-order-container .order-details h2 {
    margin-top: 0;
}

.show-order-container .order-details p {
    margin: 5px 0;
}
.show-order-container h3,
.show-order-container h2 {
    margin: 0;
}
.container-checkout a {
    color: black;
    margin: 105px;
    margin-bottom: 10px;
}
.container-change-pass {
    width: 400px;
    background-color: #fff;
    padding: 23px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    transform: translateY(30px);
}

.container-change-pass h2 {
    margin-bottom: 20px;
}

.container-change-pass .form-group {
    margin-bottom: 20px;
}

.container-change-pass label {
    display: block;
    margin-bottom: 5px;
}

.container-change-pass input[type="password"],
.container-change-pass button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.container-change-pass button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.container-change-pass .btn-hide {
    margin-left: 90%;
    width: 40px;
    padding: 5px 9px;
}

.container-change-pass button:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}
.container-about-conntent {
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-container {
    width: 60%;
    border: 1px gray solid;
    border-radius: 5px;
    padding: 10px 20px;
}

.forgot_pass_container,
.confirm-token-container,
.container-reset-pass,
.confirm-email-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.confirm-token-container,
.container-reset-pass,
.forgot_pass_container {
    flex-direction: column;
}
.container-reset-pass form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.forgot_pass_container button,
.confirm-token-container button,
.container-reset-pass button,
.confirm-email-container button {
    border-radius: 8px;
    padding: 5px 10px;
    margin-top: 10px;
    margin-left: 100px;
    border: 1px solid gray;
    background-color: white;
    font-size: 17px;
}
