.container-login,
.container-register {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.container-login h2 {
    text-align: center;
    margin-bottom: 20px;
}
.container-register h2 {
    margin: 0;
}

.container-login input[type="text"],
.container-login input[type="password"],
.container-register input[type="text"],
.container-register input[type="password"],
.container-register input[type="email"] {
    width: 100%;
    padding: 15px 0;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.container-login button[type="submit"],
.container-register button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 8px 0px;
}

.container-login button[type="submit"]:hover,
.container-register button[type="submit"]:hover {
    background-color: #45a049;
}
.footer-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-login a {
    text-decoration: none;
    color: black;
}
.hidden-pass {
    position: relative;
}
.hidden-pass i {
    position: absolute;
    right: 10px;
    top: 42%;
    transform: translateY(-50%);
    cursor: pointer;
}

.container-register .hidden-pass i {
    top: 56%;
}
.or {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icon-login i {
    font-size: 30px;
    color: gray;
}
